<div>
  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <div flex="50">
      
      <div class="personal-image-decorator">
        <img src="./images/david_grad1.jpg" alt="david" class="personal-image"><br> 

      </div>
        <md-button><i class="icon ion-social-github" style="font-size:50px"></i> <br> Projects</md-button>
        <md-button class="md-primary" ><i class="icon ion-document-text" style="font-size:50px;color:indigo"></i><br> CV</md-button>
        <!--<md-button class="md-warn"><i class="icon ion-iphone" style="font-size:50px;color:orange"></i><br> Contact</md-button><br>-->
        <div style="margin:0 auto;">
          <md-button href  ng-click="showAdvanced($event)" style="background-color:rgb(0,150,136)" class="md-fab md-mini " aria-label="email"><i class="icon ion-social-linkedin" style="color:white;font-size:25px"></i></md-button>
          <md-button href ng-click="null" class="md-fab md-mini " style="background-color:rgb(0,150,136)" aria-label="facebook"><i class="icon ion-email" style="color:white;font-size:25px"></i></md-button>
          <md-button href ng-click="null" class="md-fab md-mini" style="background-color:rgb(0,150,136)" aria-label="linkedin"><i class="icon ion-social-facebook" style="color:white;font-size:25px"></i></md-button>
        </div>
    </div>
    <div flex="50">
        <p class="first-name" style="font-size:20px;padding:20px">"I am a motivated, driven, energetic Software Developer, currently starting my Master's degree at University of Waterloo under the supervision of Professor Lin Tan.
          I graduated with a degree in Physics & Computer Science in May 2015 from McGill University. Consequently I worked as the lead software developer at the MUHC Glen Site, where along with directing a group of students, we developed a series of products to empower patients in Radiation Oncology with the knowledge and tools to take control in their Journey. Our main project was Opal, the Oncology Patient and Application, a demo can be found at: <a href="https://depdocs.com/opal">Demo</a>. <br>My interests in the academic world range from Software Development and Architecture to Compilers and Artifical Intelligence. As a software developer I have been deeply involed both as a back-end developer and a front-end developer"</p>
     
    </div>
    </section>
</div>